In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read vine_table.csv in a new DataFrame.
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3I2DHQBR577SS,5.0,0.0,0.0,N,Y
1,R1QNE9NQFJC2Y4,5.0,0.0,0.0,N,Y
2,R3LIDG2Q4LJBAO,5.0,0.0,0.0,N,Y
3,R3KSZHPAEVPEAL,5.0,0.0,0.0,N,Y
4,RAI2OIG50KZ43,5.0,0.0,0.0,N,Y

In [22]:
# Determine how many reviews there are in the dataset
vine_df_count=len(vine_df)
vine_df_count

5115666

# Deliverable 2: Determine Bias of Vine Reviews

In [4]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count 
# is equal to or greater than 20
filtered_vine_data_df = vine_df[vine_df["total_votes"]>=20]
filtered_vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
212,RZN43XRZ89IIJ,3.0,10.0,27.0,N,N
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N

In [6]:
# Create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by 
# total_votes is equal to or greater than 50%
new_vine_data_df = filtered_vine_data_df.loc[filtered_vine_data_df.helpful_votes / filtered_vine_data_df.total_votes >= 0.5]
new_vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N

In [23]:
# With the filters in place, determine the new count of reviews in the dataset
new_vine_data_count=len(new_vine_data_df)
new_vine_data_count

74760

In [7]:
# Create a new DataFrame or table that retrieves all the rows where a review was written as part of 
# the Vine program (paid), vine == 'Y'
vine_paid_reviews_df = new_vine_data_df[new_vine_data_df["vine"]=="Y"]
vine_paid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
33773,R106V6GUNWRSSS,5.0,857.0,889.0,Y,N
38256,R37N8KZS48W36A,5.0,36.0,37.0,Y,N
58582,R1LNEQ2MQE03PD,5.0,49.0,66.0,Y,N
61695,R1ECPWPUNK36ES,5.0,29.0,31.0,Y,N
95790,R16BUM7UQZLOM6,3.0,107.0,112.0,Y,N

In [8]:
# Create a new DataFrame or table that retrieves all the rows where a review was not part of the
# Vine program (unpaid), vine == 'N'.
vine_unpaid_reviews_df = new_vine_data_df[new_vine_data_df["vine"]=="N"]
vine_unpaid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N

## 5-Star Reviews Analysis

In [11]:
# Determine the total number of paid reviews
vine_paid_count = len(vine_paid_reviews_df)
vine_paid_count

647

In [24]:
vine_paid_percentage = (vine_paid_count/new_vine_data_count) *100
vine_paid_percentage

0.8654360620652755

In [12]:
# Determine the total number of unpaid reviews
vine_unpaid_count = len(vine_unpaid_reviews_df)
vine_unpaid_count

74113

In [25]:
vine_unpaid_percentage = (vine_unpaid_count/new_vine_data_count)*100
vine_unpaid_percentage

99.13456393793473

In [14]:
# Determine the number of 5-star paid reviews
five_star_paid_reviews = len(vine_paid_reviews_df[vine_paid_reviews_df["star_rating"]==5])
five_star_paid_reviews

229

In [16]:
# Determine the number of 5-star unpaid reviews
five_star_unpaid_reviews = len(vine_unpaid_reviews_df[vine_unpaid_reviews_df["star_rating"]==5])
five_star_unpaid_reviews

43217

In [18]:
# Percentage of 5-star paid reviews
(five_star_paid_reviews/vine_paid_count)*100

35.394126738794434

In [19]:
# Percentage of 5-star unpaid reviews
(five_star_unpaid_reviews/vine_unpaid_count)*100

58.312306882733125